@{
  Layout = "_Layout";
}
<h1>Hello, Factory Manager</h1>
<h1>Welcome to Dr. Sillystringz's Factory</h1>
<hr>
<p>
  @Html.ActionLink("See all Engineers", "Index", "Engineers") | 
  @Html.ActionLink("See all Machines", "Index", "Machines")
</p>

